@charset "UTF-8";
/*Фон страницы - розовый*/
/*Фон страницы - голубой*/
/*Фон страницы - желтый*/
/*Цвет текста - черный*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: #fff;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Inter";
  color: rgb(45, 52, 64);
}
body.pink {
  background-color: rgb(254, 175, 195);
}
body.sky {
  background-color: rgb(105, 169, 255);
}
body.yellow {
  background-color: rgb(252, 200, 80);
}
body .main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  height: 100%;
}
body .main__container header {
  width: 100%;
}
body .main__container header .header__menu {
  display: flex;
  padding: 24px 0px;
  justify-content: space-between;
  align-items: center;
}
body .main__container header .header__menu .menu__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .main__container header .header__menu .menu__nav img {
  width: 137px;
}
body .main__container header .header__menu .menu__nav .nav__btns {
  display: flex;
  position: relative;
  align-items: center;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog {
  position: relative;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog.on {
  background: var(--special-bright, #FF4A78);
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog.on:hover {
  background: rgba(255, 74, 120, 0.6);
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog.on:active {
  background: rgba(255, 74, 120, 0.3);
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog.on p {
  color: white;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog.on svg path {
  fill: #fff;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog svg {
  transition: 200ms;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog svg.on {
  transform: rotateX(180deg) translateY(-3px);
}
body .main__container header .header__menu .menu__nav .nav__btns .nav__btn {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 30px;
  transition: 200ms;
  background-color: transparent;
}
body .main__container header .header__menu .menu__nav .nav__btns .nav__btn:hover {
  background: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}
body .main__container header .header__menu .menu__nav .nav__btns .nav__btn:active {
  background: #FCFCFC;
}
body .main__container header .header__menu .menu__nav .nav__btns .nav__btn:focus {
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu {
  display: flex;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  background: #FCFCFC;
  width: 135px;
  padding: 8px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu.none {
  display: none;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu button {
  display: flex;
  padding: 8px 13px 8px 16px;
  align-items: flex-start;
  align-self: stretch;
  font-size: 14px;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu button:hover {
  background-color: #FFCBD8;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu button:active {
  background: #F79;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu button.current {
  background: #FF4A78;
  color: #FCFCFC;
}
body .main__container header .header__menu .menu__nav .nav__btns .catalog__menu hr {
  margin: 4px 0;
  width: 103px;
  height: 1px;
  background: #B9B9B9;
}
body .main__container header .header__menu .menu__actions {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
body .main__container header .header__menu .menu__actions p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
body .main__container header .header__menu .menu__actions .search__container {
  position: relative;
}
body .main__container header .header__menu .menu__actions .search__container .search {
  border: 2px solid rgba(0, 0, 0, 0);
  display: inline-flex;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 27px;
  position: relative;
  transition-duration: 200ms;
  background: var(--basic-extra-light-icon, rgba(252, 252, 252, 0.3));
}
body .main__container header .header__menu .menu__actions .search__container .search:hover {
  background: var(--basic-extra-light-hover, rgba(252, 252, 252, 0.5));
}
body .main__container header .header__menu .menu__actions .search__container .search:focus {
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__actions .search__container .search:active {
  background: var(--basic-extra-light, #FCFCFC);
}
body .main__container header .header__menu .menu__actions .search__container .search.current {
  background: var(--special-bright, #FF4A78);
}
body .main__container header .header__menu .menu__actions .search__container .search.current:hover {
  background: rgba(255, 74, 120, 0.6);
}
body .main__container header .header__menu .menu__actions .search__container .search.current:focus {
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__actions .search__container .search.current:active {
  background: rgba(255, 74, 120, 0.3);
}
body .main__container header .header__menu .menu__actions .search__container .search.current svg g path {
  fill: #fff;
}
body .main__container header .header__menu .menu__actions .search__container .search__menu {
  position: absolute;
  right: 0%;
  top: calc(100% + 8px);
  width: 356px;
  height: 96px;
  z-index: 10;
  flex-shrink: 0;
  padding: 24px 16px;
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  background: var(--basic-extra-light, #FCFCFC);
}
body .main__container header .header__menu .menu__actions .search__container .search__menu.none {
  display: none;
}
body .main__container header .header__menu .menu__actions .search__container .search__menu .search__input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  padding: 14px 16px;
  font-size: 16px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
}
body .main__container header .header__menu .menu__actions .search__container .search__menu label {
  height: 16px;
  position: absolute;
  top: 40px;
  right: 29px;
}
body .main__container header .header__menu .menu__actions .search__container .search__menu label:hover {
  cursor: pointer;
}
body .main__container header .header__menu .menu__actions .login__container {
  position: relative;
}
body .main__container header .header__menu .menu__actions .login__container .login {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 30px;
  transition: 200ms;
  background: var(--basic-extra-light-icon, rgba(252, 252, 252, 0.3));
}
body .main__container header .header__menu .menu__actions .login__container .login:hover {
  background: rgba(252, 252, 252, 0.5);
}
body .main__container header .header__menu .menu__actions .login__container .login:active {
  background: #FCFCFC;
}
body .main__container header .header__menu .menu__actions .login__container .login:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__actions .login__container .login.current {
  color: #FCFCFC;
  background: var(--special-bright, #FF4A78);
}
body .main__container header .header__menu .menu__actions .login__container .login.current:hover {
  background: rgba(255, 74, 120, 0.6);
}
body .main__container header .header__menu .menu__actions .login__container .login.current:focus {
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__actions .login__container .login.current:active {
  background: rgba(255, 74, 120, 0.3);
}
body .main__container header .header__menu .menu__actions .login__container .login.current svg path {
  transition: 200ms;
  fill: #fff;
}
body .main__container header .header__menu .menu__actions .login__container .login svg {
  width: 16px;
  height: 16px;
}
body .main__container header .header__menu .menu__actions .login__container .login svg path {
  transition: 200ms;
}
body .main__container header .header__menu .menu__actions .login__container .login p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 48px 48px 52px 48px;
  right: 0;
  top: calc(100% + 8px);
  width: 420px;
  height: 350px;
  z-index: 10;
  gap: 32px;
  background-color: #FCFCFC;
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu.none {
  display: none;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu p {
  font-size: 24px;
  font-weight: 700px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .login__menu__inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .login__menu__inputs input {
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text {
  display: flex;
  gap: 23px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button {
  display: flex;
  padding: 12px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 47, 100);
  border: 4px solid rgb(248, 184, 203);
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  transition: background 200ms;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button:hover {
  border: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button:active {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
  background: var(--special-light, #FEAFC3);
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button:focus {
  border: 1px solid #2D3440;
  background: var(--special-extra-bright, #FF2F64);
  padding: 15px 35px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button:disabled {
  border: 4px solid rgb(232, 232, 232);
  background-color: var(--basic-neutral, #B9B9B9);
  font-weight: 400;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button svg {
  animation: spin 0.6s linear infinite;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text button svg.none {
  display: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text .input__link {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .main__container header .header__menu .menu__actions .login__container .login__menu .input__btn__text .input__link a {
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #2D3440;
}
body .main__container header .header__menu .menu__actions .cart__container {
  position: relative;
}
body .main__container header .header__menu .menu__actions .cart__container .cart {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 4px 14px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 30px;
  transition: 200ms;
  background: var(--basic-extra-light-icon, rgba(252, 252, 252, 0.3));
}
body .main__container header .header__menu .menu__actions .cart__container .cart:hover {
  background: rgba(252, 252, 252, 0.5);
}
body .main__container header .header__menu .menu__actions .cart__container .cart:active {
  background: #FCFCFC;
}
body .main__container header .header__menu .menu__actions .cart__container .cart:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__actions .cart__container .cart.current {
  color: #FCFCFC;
  background: var(--special-bright, #FF4A78);
}
body .main__container header .header__menu .menu__actions .cart__container .cart.current:hover {
  background: rgba(255, 74, 120, 0.6);
}
body .main__container header .header__menu .menu__actions .cart__container .cart.current:focus {
  border: 2px solid #000;
}
body .main__container header .header__menu .menu__actions .cart__container .cart.current:active {
  background: rgba(255, 74, 120, 0.3);
}
body .main__container header .header__menu .menu__actions .cart__container .cart.current svg path {
  transition: 200ms;
  fill: #FCFCFC;
}
body .main__container header .header__menu .menu__actions .cart__container .cart svg {
  transition: 200ms;
  width: 16px;
  height: 16px;
}
body .main__container header .header__menu .menu__actions .cart__container .cart svg path {
  transition: 200ms;
}
body .main__container header .header__menu .menu__actions .cart__container .cart p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
body .main__container header .header__menu .menu__actions .cart__container .cart__menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
  z-index: 10;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px;
  background: var(--basic-extra-light, #FCFCFC);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}
body .main__container header .header__menu .menu__actions .cart__container .cart__menu.none {
  display: none;
}
body .main__container header .header__menu .menu__actions .cart__container .cart__menu p {
  width: 288px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
body .main__container main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 80px;
}
body .main__container main .main__slider {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 70px;
  width: 100%;
  height: 554px;
}
body .main__container main .main__slider .slider__text {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  gap: 24px;
  margin-right: 26px;
  min-width: 434px;
}
body .main__container main .main__slider .slider__text h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
}
body .main__container main .main__slider .slider__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
body .main__container main .main__slider .slider__text button {
  display: flex;
  width: fit-content;
  position: relative;
  gap: 8px;
  padding: 12px 32px;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  transition: background 200ms;
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  margin-top: 24px;
}
body .main__container main .main__slider .slider__text button::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px); /* Ширина псевдоэлемента с учетом границы */
  height: calc(100% + 8px); /* Высота псевдоэлемента с учетом границы */
  border: 4px solid rgba(252, 252, 252, 0.4); /* Цвет границы с прозрачностью */
  z-index: -1; /* Поместить псевдоэлемент под содержимым кнопки */
  border-radius: 30px;
}
body .main__container main .main__slider .slider__text button:hover {
  background: rgba(252, 252, 252, 0.4);
}
body .main__container main .main__slider .slider__text button:hover::after {
  border: 4px solid var(--basic-extra-light, #FCFCFC);
}
body .main__container main .main__slider .slider__text button:active::after {
  width: calc(100% + 4px); /* Ширина псевдоэлемента с учетом границы */
  height: calc(100% + 4px); /* Высота псевдоэлемента с учетом границы */
  border: 2px solid var(--basic-extra-dark, #2D3440);
}
body .main__container main .main__slider .slider__text button:focus {
  background: rgba(252, 252, 252, 0.5);
}
body .main__container main .main__slider .slider__text button:focus::after {
  width: calc(100% + 4px); /* Ширина псевдоэлемента с учетом границы */
  height: calc(100% + 4px); /* Высота псевдоэлемента с учетом границы */
  border: 2px solid var(--basic-extra-dark, #2D3440);
}
body .main__container main .main__slider .slider__text button p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
body .main__container main .main__slider .slider__text button svg {
  animation: spin 0.6s linear infinite;
}
body .main__container main .main__slider .slider__text button svg.none {
  display: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .main__container main .main__slider .slider__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 367px;
  height: 100%;
  padding: 21px 20px 26px 20px;
}
body .main__container main .main__slider .slider__container .slider {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}
body .main__container main .main__slider .slider__container .slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
}
body .main__container main .main__slider .slider__container .slider .slide .slide__base {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1000ms cubic-bezier(0.32, 0.75, 0.36, 0.92);
}
body .main__container main .main__slider .slider__container .slider .slide .slide__base .base__circle {
  position: absolute;
  height: 312px;
  width: 327.154px;
  border-radius: 327.154px;
  background: rgba(255, 255, 255, 0.3);
  transition: 1000ms cubic-bezier(0.32, 0.75, 0.36, 0.92);
}
body .main__container main .main__slider .slider__container .slider .slide .slide__base img {
  z-index: 2;
}
body .main__container main .main__slider .slider__container .slider .slide.none0 {
  right: -83%;
  transform: scale(0.27);
  opacity: 0.4;
}
body .main__container main .main__slider .slider__container .slider .slide.none1 {
  right: -126%;
  transform: scale(0.27);
  opacity: 0.4;
  transition: right 1000ms cubic-bezier(0.32, 0.75, 0.36, 0.92);
}
body .main__container main .main__slider .slider__container .slider__arrow {
  position: absolute;
  padding: 10px;
  border: 2px solid var(--basic-extra-light, #FCFCFC);
  border-radius: 26px;
  background: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  z-index: 3;
}
body .main__container main .main__slider .slider__container .slider__arrow:hover {
  background: #FCFCFC;
}
body .main__container main .main__slider .slider__container .slider__arrow:hover svg path {
  fill: #000;
}
body .main__container main .main__slider .slider__container .slider__arrow:active {
  background: rgba(252, 252, 252, 0.5);
}
body .main__container main .main__slider .slider__container .next {
  left: 0;
}
body .main__container main .main__slider .slider__container .prev {
  right: 0;
}
body .main__container main .main__slider .dot__container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}
body .main__container main .main__slider .dot__container .dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 0.3;
  cursor: pointer;
  background: white;
}
body .main__container main .main__slider .dot__container .dot.dotActive {
  opacity: 1;
}
body .main__container main .main__slider .social__container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
body .main__container main .main__slider .social__container .social {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  padding: 4px;
  cursor: pointer;
}
body .main__container main .main__slider .social__container .social:hover svg path {
  fill: #2D3440;
}
body .main__container main .main__slider .social__container .social:active {
  opacity: 0.5;
}
body .main__container main .main__slider .social__container .social svg {
  width: 24px;
  height: 24px;
}
body .main__container main .main__banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}
body .main__container main .main__banner p {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  line-height: 46px;
}
body .main__container main .main__banner .banner__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, calc((100% - 30px) / 2));
  grid-template-rows: repeat(1, 100%);
  column-gap: 30px;
}
body .main__container main .main__banner .banner__container .banner {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 36px 200px 36px 36px;
  width: 100%;
  border-radius: 16px;
  background: var(--special-neutral, #F79);
}
body .main__container main .main__banner .banner__container .banner .text__and__button {
  display: flex;
  align-items: flex-start;
  gap: 28px;
  flex-direction: column;
}
body .main__container main .main__banner .banner__container .banner .text__and__button h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
body .main__container main .main__banner .banner__container .banner .text__and__button p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
body .main__container main .main__banner .banner__container .banner .text__and__button button {
  display: flex;
  width: fit-content;
  gap: 8px;
  padding: 12px 32px;
  align-items: center;
  justify-content: center;
  border: 4px solid #F2C7D3;
  border-radius: 26px;
  transition: background 200ms;
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  margin-top: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
body .main__container main .main__banner .banner__container .banner .text__and__button button:hover {
  border: 4px solid var(--basic-extra-light, #FCFCFC);
  background: rgba(252, 252, 252, 0.4);
}
body .main__container main .main__banner .banner__container .banner .text__and__button button:active {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
}
body .main__container main .main__banner .banner__container .banner .text__and__button button:focus {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
  background: rgba(252, 252, 252, 0.5);
}
body .main__container main .main__banner .banner__container .banner .text__and__button button p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
body .main__container main .main__banner .banner__container .banner img {
  position: absolute;
  right: 0;
  bottom: 0;
}
body .main__container main .main__products {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 107px;
}
body .main__container main .main__products h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px; /* 143.75% */
  text-align: center;
}
body .main__container main .main__products .products__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 90px) / 4));
  grid-template-rows: repeat(1, 100%);
  grid-gap: 30px;
}
body .main__container main .main__products .products__cards .product__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 281px;
  border-radius: 8px;
  background: #FCFCFC;
  padding: 0 40px;
}
body .main__container main .main__products .products__cards .product__card .img__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 148px;
  padding-bottom: 16px;
}
body .main__container main .main__products .products__cards .product__card .card__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}
body .main__container main .main__products .products__cards .product__card .card__info h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  margin-bottom: 8px;
}
body .main__container main .main__products .products__cards .product__card .card__info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  margin-bottom: 16px;
  text-align: center;
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-bottom: 24px;
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
  margin-bottom: 0;
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container button {
  display: flex;
  width: 32px;
  padding: 6px 0;
  flex-direction: column;
  align-items: center;
  border-radius: 26px;
  border: 2px solid rgba(0, 0, 0, 0);
  background: var(--special-extra-bright, #FF2F64);
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container button:hover {
  border: 2px solid var(--special-extra-bright, #FF2F64);
  background: rgba(252, 252, 252, 0.3);
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container button:hover svg path {
  fill: #2D3440;
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container button:active {
  background: var(--special-exta-light, #FFCBD8);
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container button:active svg path {
  fill: #2D3440;
}
body .main__container main .main__products .products__cards .product__card .card__info .price__container button:focus {
  border: 2px solid var(--basic-extra-dark, #2D3440);
}
body .main__container main .main__about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../icons/about/Waffle.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 24px;
}
body .main__container main .main__about .about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 40px;
  background: #FFF;
  border-radius: 16px;
  width: 100%;
  gap: 56px;
}
body .main__container main .main__about .about__container .about__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
}
body .main__container main .main__about .about__container .about__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 32px) / 2));
  grid-template-rows: repeat(2, calc((100% - 40px) / 2));
  grid-gap: 30px;
}
body .main__container main .main__about .about__container .about__grid .grid__item {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
body .main__container main .main__about .about__container .about__grid .grid__item img {
  width: 48px;
  height: 48px;
}
body .main__container main .main__about .about__container .about__grid .grid__item p {
  color: #565C66;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
body .main__container main .main__subscribe {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 30px) / 2));
  grid-template-rows: repeat(1, 100%);
  grid-gap: 30px;
}
body .main__container main .main__subscribe .subscribe__news {
  display: flex;
  align-items: center;
  background: url(../icons/news/1.png);
  background-position: 0px -109.926px;
  background-size: 112.632% 198.148%;
  background-repeat: no-repeat;
  padding: 32.593px 235px 67.148px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.222px;
  border-radius: 16px;
}
body .main__container main .main__subscribe .subscribe__news p {
  color: #565C66;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
body .main__container main .main__subscribe .subscribe__news h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
body .main__container main .main__subscribe .subscribe__block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 6px;
  background: url(../icons/news/2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 26px;
  background: #FFF;
  border-radius: 16px;
  width: 100%;
  height: 100%;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container p {
  color: var(--basic-dark, #565C66);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container input {
  width: 332px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
  padding: 14px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container button {
  display: flex;
  padding: 12px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 47, 100);
  border: 4px solid rgb(248, 184, 203);
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  transition: background 200ms;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container button:hover {
  border: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container button:active {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
  background: var(--special-light, #FEAFC3);
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container button:focus {
  border: 1px solid #2D3440;
  background: var(--special-extra-bright, #FF2F64);
  padding: 15px 35px;
}
body .main__container main .main__subscribe .subscribe__block .subscribe__container .input__container button:disabled {
  border: 4px solid rgb(232, 232, 232);
  background-color: var(--basic-neutral, #B9B9B9);
  font-weight: 400;
}
body .main__container main .main__delivery {
  display: flex;
  width: 100%;
  height: 534px;
  border-radius: 16px;
  position: relative;
  padding: 64px 64px 64px 100px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
}
body .main__container main .main__delivery::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../icons/delivery/1.png);
  background-position: 1170.001px -138.441px;
  background-size: 104.701% 151.851%;
  transform: scaleX(-1);
  z-index: -1;
  top: 0;
  left: 0;
}
body .main__container main .main__delivery .delivery__text__container {
  display: flex;
  flex-direction: column;
  max-width: 371px;
  gap: 24px;
}
body .main__container main .main__delivery .delivery__text__container h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}
body .main__container main .main__delivery .delivery__text__container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
body .main__container main .main__delivery .form__container {
  display: flex;
  gap: 32px;
  padding: 40px;
  background: #FFF;
  max-width: 500px;
  border-radius: 8px;
  flex-direction: column;
}
body .main__container main .main__delivery .form__container p {
  width: 380px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
body .main__container main .main__delivery .form__container .form__inputs__container {
  display: grid;
  grid-template-areas: "col1 col2" "col3 col3";
  grid-template-columns: 117px 287px;
  grid-column-gap: 16px;
}
body .main__container main .main__delivery .form__container .form__inputs__container .col1 {
  grid-area: col1;
}
body .main__container main .main__delivery .form__container .form__inputs__container .col2 {
  grid-area: col2;
}
body .main__container main .main__delivery .form__container .form__inputs__container .col3 {
  grid-area: col3;
  margin-top: 20px;
}
body .main__container main .main__delivery .form__container .form__inputs__container .form__input {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
body .main__container main .main__delivery .form__container .form__inputs__container .form__input div {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  font-weight: 700;
  display: flex;
  gap: 4px;
  align-items: center;
  width: fit-content;
  cursor: help;
}
body .main__container main .main__delivery .form__container .form__inputs__container .form__input div .tooltip {
  position: absolute;
  display: none;
  left: 105%;
  padding: 10px 8px;
  font-size: 12px;
  color: #565C66;
  line-height: 16px;
  border: 1px solid #B9B9B9;
  min-width: 140px;
  background-color: #fff;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(194, 194, 194, 0.2);
  transition: 200ms;
}
body .main__container main .main__delivery .form__container .form__inputs__container .form__input div:hover .tooltip {
  display: flex;
  align-items: center;
}
body .main__container main .main__delivery .form__container .form__inputs__container .form__input input {
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
}
body .main__container main .main__delivery .form__container .form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
body .main__container main .main__delivery .form__container .form__btn button {
  display: flex;
  padding: 12px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 47, 100);
  border: 4px solid rgb(248, 184, 203);
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  transition: background 200ms;
}
body .main__container main .main__delivery .form__container .form__btn button:hover {
  border: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}
body .main__container main .main__delivery .form__container .form__btn button:active {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
  background: var(--special-light, #FEAFC3);
}
body .main__container main .main__delivery .form__container .form__btn button:focus {
  border: 1px solid #2D3440;
  background: var(--special-extra-bright, #FF2F64);
  padding: 15px 35px;
}
body .main__container main .main__delivery .form__container .form__btn button:disabled {
  border: 4px solid rgb(232, 232, 232);
  background-color: var(--basic-neutral, #B9B9B9);
  font-weight: 400;
}
body .main__container main .main__location {
  display: flex;
  padding: 64px 763px 64px 64px;
  width: 100%;
  height: 492px;
  background: url(../icons/location/1.jpg);
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
body .main__container main .main__location .location__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  height: 100%;
  background: #FFF;
  border-radius: 8px;
}
body .main__container main .main__location .location__form .location__address {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
body .main__container main .main__location .location__form .location__address p {
  max-width: 179px;
  font-size: 16px;
  font-weight: 400;
  color: #565C66;
  line-height: 22px;
}
body .main__container main .main__location .location__form .location__address h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
body .main__container main .main__location .location__form .location__tel {
  margin-bottom: 28px;
}
body .main__container main .main__location .location__form .location__tel h1 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
  color: #565C66;
}
body .main__container main .main__location .location__form .location__tel h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
body .main__container main .main__location .location__form .location__tel p {
  color: #565C66;
  line-height: 20px;
}
body .main__container main .main__location .location__form button {
  display: flex;
  padding: 12px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 47, 100);
  border: 4px solid rgb(248, 184, 203);
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  transition: background 200ms;
}
body .main__container main .main__location .location__form button:hover {
  border: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}
body .main__container main .main__location .location__form button:active {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
  background: var(--special-light, #FEAFC3);
}
body .main__container main .main__location .location__form button:focus {
  border: 1px solid #2D3440;
  background: var(--special-extra-bright, #FF2F64);
  padding: 15px 35px;
}
body .main__container main .main__location .location__form button:disabled {
  border: 4px solid rgb(232, 232, 232);
  background-color: var(--basic-neutral, #B9B9B9);
  font-weight: 400;
}
body .main__container footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0px;
  width: 100%;
}
body .main__container footer .footer__social {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
body .main__container footer .footer__social .social {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  padding: 4px;
  cursor: pointer;
}
body .main__container footer .footer__social .social:hover svg path {
  fill: #2D3440;
}
body .main__container footer .footer__social .social:active {
  opacity: 0.5;
}
body .main__container footer .footer__social .social svg {
  width: 24px;
  height: 24px;
}
body .main__container footer .footer__documents {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, calc((100% - 8px) / 2));
  column-gap: 24px;
  row-gap: 8px;
}
body .main__container footer .footer__documents a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #2D3440;
  line-height: 20px;
  width: fit-content;
  position: relative;
  margin: 0 2px;
}
body .main__container footer .footer__documents a::before {
  content: "";
  position: absolute;
  display: none;
  left: -20px;
  background-size: contain;
  width: 16px; /* Задаем ширину */
  height: 16px;
  background-image: url(../icons/heart/Heart-fill.svg);
}
body .main__container footer .footer__documents a:hover {
  font-weight: 700;
  margin: 0;
}
body .main__container footer .footer__documents a:hover::before {
  content: "";
  display: flex;
  display: inline-block;
}
body .main__container footer .footer__html__academy {
  display: flex;
  flex-direction: column;
  gap: 14.29px;
}
body .main__container footer .footer__html__academy p {
  font-size: 12px;
  line-height: 16px;
}
body .main__container footer .footer__html__academy p a {
  color: #2D3440;
}
body .main__container footer .footer__html__academy p a:hover {
  text-decoration: underline;
  text-decoration-color: #2D3440; /* Цвет подчеркивания */
  text-decoration-thickness: 0.5px;
}
body .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .overlay.none {
  display: none;
}
body .overlay .modal {
  background: #FFF;
  border-radius: 8px;
  width: 570px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
  gap: 32px;
  position: relative;
}
body .overlay .modal h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
body .overlay .modal .modal__input__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
body .overlay .modal .modal__input__container input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}
body .overlay .modal .modal__input__container textarea {
  min-height: 149px;
  display: inline;
  vertical-align: top;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid var(--basic-neutral, #B9B9B9);
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  resize: none;
}
body .overlay .modal .modal__btn__container {
  display: flex;
  justify-content: end;
  width: 100%;
}
body .overlay .modal .modal__btn__container button {
  display: flex;
  padding: 12px 32px;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  color: #FCFCFC;
  font-size: 16px;
  font-weight: 700;
  background: rgb(255, 47, 100);
  border: 4px solid rgb(248, 184, 203);
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  transition: background 200ms;
}
body .overlay .modal .modal__btn__container button:hover {
  border: 4px solid #FF2F64;
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
}
body .overlay .modal .modal__btn__container button:active {
  border: 2px solid var(--basic-extra-dark, #2D3440);
  padding: 14px 34px;
  background: var(--special-light, #FEAFC3);
}
body .overlay .modal .modal__btn__container button:focus {
  border: 1px solid #2D3440;
  background: var(--special-extra-bright, #FF2F64);
  padding: 15px 35px;
}
body .overlay .modal .modal__btn__container button:disabled {
  border: 4px solid rgb(232, 232, 232);
  background-color: var(--basic-neutral, #B9B9B9);
  font-weight: 400;
}
body .overlay .modal svg {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}
body .overlay .modal svg:hover path {
  fill: #000000;
}

/*# sourceMappingURL=main.css.map */
