$main-pink: rgba(254, 175, 195, 1);/*Фон страницы - розовый*/
$main-sky: rgba(105, 169, 255, 1);/*Фон страницы - голубой*/
$main-yellow: rgba(252, 200, 80, 1);/*Фон страницы - желтый*/
$basic-extra-dark: rgba(45, 52, 64, 1);/*Цвет текста - черный*/
